@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #051b34;
}

header{
    background-color: #051b34;
    color: white;
    padding: 5px;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 1.8rem;
    
}
header b{
    color: #DA1212;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.title-destaque{
    position:relative ;
    color: white;
    top: 40%;
    visibility: hidden;
    transition: .5s;
    text-align: center;
}

.destaque-semana{
    cursor: pointer;
    background: no-repeat center/cover url('https://image.tmdb.org/t/p/original/44immBwzhDVyjn87b3x3l9mlhAD.jpg');
    height: 60vh;
    width: 320px;
    transition: .7s ;
    border: 2px solid black;
    text-align: center;
    
    
}
.destaque-semana:hover{
    width: 650px;
}
.destaque-semana:hover .title-destaque{
    visibility: visible;
}

.destaque-series{
    cursor: pointer;
    background: no-repeat center/cover url('https://image.tmdb.org/t/p/original/bsNm9z2TJfe0WO3RedPGWQ8mG1X.jpg');
    border: 2px solid black;
    height: 60vh;
    width: 320px;
    transition: .25s linear;
}
.destaque-series:hover{
    width: 650px;
    background-color: #da121221;
}

.destaque-series:hover .title-destaque{
    visibility: visible;
    
}