@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #051b34;
    color: white;
    padding: 5px;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 1.8rem;
    
}
header b{
    color: #DA1212;
}