@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #051b34;
}
header{
    background-color: #051b34;
    color: white;
    padding: 5px;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 1.8rem;
    
}
header b{
    color: #DA1212;
}
.title{
   text-align: center;
    color: white;
   font-size: 1.7vh;
   padding: 50px;
}

.destaquesSemana{
   
   color: white;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   justify-items: center;
   grid-gap: 50px;
    padding-bottom: 100px;
}
.destaquesSemana h3{
    text-align: center;
    padding: 10px;
    
    
}

.movieCard{
   
    min-height: 460px;
    min-width:300px ;
   display: flex;
   flex-direction: column;
   justify-content: center;
  
   align-items: center;
 

}

@media screen and (max-width:1440px) {
    .destaquesSemana{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}

@media screen and (max-width:1040px) {
    .destaquesSemana{
        grid-template-columns: 1fr 1fr  ;
    }
}
@media screen and (max-width:860px) {
    .destaquesSemana{
        grid-template-columns: 1fr;
    }
}

.movieCard .img{
    
    height: 400px;
   max-width: 270px;
}
.movieCard .imgMovie{
    width: 100%;
    height: 100%;
   border-radius: 10px;
   overflow: hidden;
   background-position: center;
   background-size: cover;

}

.movieCard h3{
    font-size: 1.3em;
}


.infoMovie{
    display: flex;
    gap: 20px;
    
}
.infoMovie p {
    font-size: 1.2rem;
}
.infoMovie .nota{
    display: flex;
    gap: 3px;
    flex-direction: row-reverse;
    align-items: center;
}

.movieCard .button{
    margin-top: 10px;
    cursor: pointer;
    padding: 10px 25px;
    background: #DA1212;
    transition: .5s ;
    font-size: 2.1vh;
    text-decoration: none;
    color: white;
}
.movieCard .button:hover{
   transform: translateY(-5px);
}